html {
    background-color: rgb(30,30,30);
}

.textClass {
    color : white;
    background-color: blueviolet;
    width : 100px;
    height : 100px;
    border : 2px solid white;
    margin :15px;
    padding : 10px
}