html {
    background-color: rgb(30,30,30);
    font-family: 'Roboto', sans-serif;
    transition:background-color 0.5s ease;
}

html.white-theme {
    background-color: rgb(200, 200, 200);
}

.jeuParent {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    color : white;
    background-color: rgb(64, 0, 128);
    border : 2px solid grey;
    border-radius: 5px;
    padding : 20px
}

.buttonToGame { 
    font-size: 20px;
    padding: 10px 20px;
    background-color: rgb(0, 0, 255);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition : background-color 0.3s ease;
}
.buttonToGame:hover{
    background-color: rgb(0, 0, 200);
}

.intimidatingButton{
    display:inline-block;
    text-align: center;
    font-size: 20px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition : background-color 10s ease, color 10s ease, font-size 10s linear, border-radius 10s linear;
}

.intimidatingButton:hover{
    background-color: rgb(1, 1, 66);
    color: yellow;
    font-size: 100px;
    border-radius: 30px;
}
